extends adminlayout
block content
  .container
    .row
      each response in responses
        .col-md-4
          .card.product.mt-4
            .card-body
              h5.card-title
                i.fas.fa-user.pr-1.text-gray
                span.badge.badge-warning.ml-1.name #{response.user.firstname} #{response.user.lastname}
              p.card-text
                i.fas.fa-map-marker-alt.pr-2.text-gray
                span.location #{response.location}
              a.btn.btn-primary.block.col-md-12(href=`/admin/account/responses/${response._id}`)
                | View Response
    - const link = `admin/account/responses`
    .pagination.mt-4
        .pagination__prev
          if page > 1
            a.btn.btn-primary(href=`/${link}/page/${page - 1}`) Prev
        .pagination__text
          p Page #{page} of #{pages} — #{count} total results
        .pagination__next
          if page < pages
            a.btn.btn-primary(href=`/${link}/page/${parseFloat(page) + 1}`) Next
